user/.local/bin/micromamba
user/.config/simple-scan/
user/.config/spyder-py3/
user/.config/GIMP/
user/.config/obsidian/
user/.config/.pki/
user/.config/QtProject.conf
user/.config/Thunar/
user/.config/dconf/
user/.config/firefox/
user/.config/gtk-2.0/
user/.config/gurobi.lic
user/.config/htop/
user/.config/ipython/
user/.config/jupyter/
user/.config/kconf_updaterc
user/.config/kdeglobals
user/.config/libreoffice/
user/.config/markdown-extensions.txt
user/.config/nitrogen/
user/.config/okularpartrc
user/.config/okularrc
user/.config/pavucontrol.ini
user/.config/pulse/
user/.config/qutebrowser/
user/.config/vlc/
user/.config/xfce4/
user/.config/emacs/
user/.config/audacious/
user/.config/mgba/
user/.local/share/applications/mimeinfo.cache

